@charset "utf-8";

.entry-content {
  // Override Class
  &.remix {
    .entry-meta {
      .event-date {
        opacity: 1;
        margin-right: .6em;
        display: inline-block;
        font-size: .85em;
        color: #ff7376;

        &:before {
          font-family: 'fontawesome';
          content: '\f274';
          margin-right: .2em;
          color: #ff7376;
        }
      }

      .date {
        opacity: 0;
        display: none;

        &:before {
          content: '';
        }
      }
    }
  }
}
