@charset "utf-8";

.wf-amatic {
  @extend %webfont-amatic;

  &#logo {
    font-size: 1.2em;
  }
}

// EOイベントのウィジェットで不自然な日付を隠す
.widget.EO_Event_List_Widget {
  ul {
    li {
      visibility: hidden;
      position: relative;
      margin: 0;
      padding: 0;

      a {
        display: block;
        visibility: visible;
        font-size: 14px;
        border-bottom: 1px dotted rgba(0,0,0,.2);
        padding-bottom: .7em;
        color: #444;
        text-decoration: none;

        &:visited {
          color: #444;
          text-decoration: none;
        }
      }
    }
  }
}

// 最新の画像付き投稿一覧
.widget.widget_recent_entries {
  li {
    a {
      font-size: 14px;
      color: #444;
    }
  }
}

// 人気の投稿
.widget.popular-posts {
  li {
    &:not(:first-child) {
      padding-top: .75em;
    }

    a {
      font-size: 14px;
      color: #444;
      position: relative;
    }
  }
}

// 記事詳細の3カラムレイアウト
.ads-area {
  letter-spacing: -.5em;
  text-align: center;
  width: 100%;
  margin: 0 auto 1em;
  padding-top: 1em;

  > div {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
  }

  &.col3 {
    > div {
      width: 31.333333333%;

      &:not(:last-child) {
        margin-right: 3%;
      }
    }
  }

  &.col2 {
    > div {
      width: 47%;

      &:not(:last-child) {
        margin-right: 6%;
      }
    }
  }
}
