@charset "utf-8";

.wf-amatic {
  @extend %webfont-amatic;
}

// EOイベントのウィジェットで不自然な日付を隠す
.widget.EO_Event_List_Widget {
  ul {
    li {
      visibility: hidden;
      position: relative;
      margin: 0;
      padding: 0;

      a {
        display: block;
        visibility: visible;
        font-size: 14px;
        border-bottom: 1px dotted rgba(0,0,0,.2);
        padding-bottom: .7em;
        color: #444;
        text-decoration: none;

        &:visited {
          color: #444;
          text-decoration: none;
        }
      }
    }
  }
}

// 最新の画像付き投稿一覧
.widget.widget_recent_entries {
  li {
    a {
      font-size: 14px;
      font-weight: bold;
      color: #444;
    }

    .eyecatch {
      width: 50%;
      max-width: 154px;
    }
  }
}

// 人気の投稿
.widget.popular-posts {
  li {
    &:not(:first-child) {
      padding-top: .75em;
    }

    a {
      font-size: 14px;
      font-weight: bold;
      color: #444;
      position: relative;
    }
  }
}

// 記事詳細の3カラムレイアウト
.ads-area,
.cc-col-wrap {
  letter-spacing: -.5em;
  text-align: center;
  width: 100%;
  margin: 0 auto 1em;
  padding-top: 1em;

  > div {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
  }

  &.col3 {
    > div {
      width: 31.333333333%;

      &:not(:last-child) {
        margin-right: 3%;
      }
    }
  }

  &.col2 {
    > div {
      width: 47%;

      &:not(:last-child) {
        margin-right: 6%;
      }
    }
  }
}

.cc-infeed {
  border-bottom: 1px dotted rgba(0,0,0,.2);
  width: 100%;
  min-height: 108px;
}

// ページネーション
.wp-pagenavi {
  $color: #00b5fa;
  text-align: center;
  letter-spacing: -.5em;
  padding: 2em 0;

  span,
  a {
    display: inline-block;
    letter-spacing: normal;
    font-size: 16px;
    padding: 12px 8px 0px 8px;
    border: 1px solid $color;
    color: $color;
    line-height: 1;
    min-width: 40px;
    min-height: 40px;
    text-decoration: none;

    @include mediaquery('max', 374px) {
      font-size: 14px;
      min-width: 35px;
      min-height: 35px;
      padding: 10px 8px 0px 8px;
    }
  }

  > * {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .current {
    background: $color;
    color: #fff;
    text-decoration: none;

    &:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}

// カスタムヘッダーが有効な場合、表示される
#custom_header {
  .wrap {
    opacity: 1;
  }
}

// SP
.sp {
  #top_carousel {
    min-height: 190px;
    max-height: 210px;
    overflow: hidden;
  }
}

// PC
.pc {
  #top_carousel {
    overflow: hidden;
    min-width: 1166px;
    max-height: 230px;

    img {
      max-width: 234px;
    }

    ul.slider {
      opacity: 0;

      .slick-slide {
        display: block !important;
      }
    }
  }

  &.loaded {
    #top_carousel {
      ul.slider {
        opacity: 1;
        transition: opacity 400ms ease-in-out;
      }
    }
  }
}

.single {
  // header部分のwriter上書き
  .byline .writer {
    display: inline-block;
  }

  // 記事下の著者情報
  .entry-author {
    text-align: right;
    font-size: 12px;
    opacity: .3;

    // .fn class
    span {
      &:before {
        font-family: 'fontawesome';
        content: '\f007';
        font-size: 12px;
        margin-right: .3em;
      }
    }
  }

  // for Amazon
  .amazonjs_item {
    background: none;

    .amazonjs_image {
      a {
        &:after {
          display: none;
        }
      }
    }

    .amazonjs_info {
      ul {
        li {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  #main {
    article {
      // 記事カテゴリ・タグ・Google Map
      .eventorganiser-event-meta {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: -1;

        &.action {
          opacity: 1;
          visibility: visible;
          position: relative;
          z-index: 0;
        }
      }
    }
  }

  // ポム
  &.postid-3674 {
    .eo-event-meta {
      li {
        &:first-child {
          display: none;
        }
      }
    }
  }

  // 画像のLazyload周りのデザイン調整
  img {
    &.is-loaded {
      animation: fadein 0.5s ease-in-out 0s;
    }
  }
  [src$='dummy.png'] {
    width: 100%;
    height: 30vh !important;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// body階層からにしたく無い
#content {
  .adjacent__post {
    &__inner {
      .home_link {
        text-align: left;

        a {
          padding: 0;
        }

        figure {
          width: auto;
        }
      }

      h4 {
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        margin: 0;
        padding: 0 12px 12px;
        border-bottom: 1px solid #E5E5E5;
      }
    }

    &__prev {
      background: #FAFAFA;
      border: 1px solid #E5E5E5;
      padding: 12px 0;
      margin: 0;

      a {
        padding: 12px 12px 0;

        figure {
          padding: 0;
          width: 120px;

          // 疑似要素のFont Awesomeアイコン
          &:before {
            display: none;
          }
        }

        h5 {
          font-size: .9rem;
          font-weight: bold;
          padding-left: 12px;
          vertical-align: top;
          line-height: 1.4;

          .pc & {
            font-size: 1rem;
          }

          // description
          p {
            font-size: 12px;
            font-weight: normal;
            color: #999;
            margin: .7em 0 0 0;
            line-height: 1.4;
          }
        }
      }
    }

    &__next {
      background: #FAFAFA;
      border: 1px solid #E5E5E5;
      padding: 12px 0;
      margin-top: -1px;
      text-align: right;

      a {
        padding: 12px 12px 0;

        figure {
          padding: 0;
          width: 120px;

          // 疑似要素のFont Awesomeアイコン
          &:after {
            display: none;
          }
        }

        h5 {
          font-size: .9rem;
          font-weight: bold;
          padding-right: 12px;
          vertical-align: top;
          text-align: left;
          line-height: 1.4;

          .pc & {
            font-size: 1rem;
          }

          // description
          p {
            font-size: 12px;
            font-weight: normal;
            color: #999;
            margin: .7em 0 0 0;
            line-height: 1.4;
          }
        }
      }
    }
  }
}

body {
  .entry-content {
    .entry-author {
      opacity: 0;
      display: none;
    }

    table {
      th {
        width: 30%;
      }
    }

    h2,
    h3,
    h4 {
      $pink: #ff5dab;

      i {
        color: $pink;
      }
    }
  }
}

#container {
  $pink: #ff5dab;
  $dir: '/wp-content/uploads/';

  // 記事内ナビゲーション
  .cc-jump-section {
    background: #f4f4f4;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid darken(#f4f4f4, 10%);
    border-radius: 5px;

    .sp & {
      padding: 1em .5em .5em 1em;
    }

    > p {
      text-align: center;
      margin: 0;
      line-height: 1;

      .sp & {
        text-align: left;
      }
    }

    .cc-nav-list {
      letter-spacing: -.5em;
      margin: 0;
      padding: 1em 1em 0;

      .sp & {
        text-align: left;
        font-size: 13px;
        padding: 1em 0 0 0;
      }

      li {
        display: inline-block;
        letter-spacing: normal;
        vertical-align: top;
        padding-left: 1em;
        margin: 0 0 .5em;

        .sp & {
          width: 47%;
          margin-bottom: 3%;
        }

        &:not(:last-child) {
          margin-right: 1em;

          .sp & {
            margin-right: 3%;
          }
        }
      }
    }
  }

  // 記事内装飾
  .column-wrap {
    > div {
      p {
        font-size: 14px;
      }

      i {
        color: #ff5dab;
      }
    }
  }

  // 上書きするためセレクタ付きにする
  // 開催時期別一覧用
  #main {
    .period & {
      background: #f5f5f5;
    }
  }

  article.period-list {
    background: #fff;
    margin: 1em;

    > a {
      padding: 0;
      border: 0;
      text-decoration: none;

      &:first-child {
        border-top: 0;
      }
    }

    span.date,
    span.entry-author {
      display: none;
    }

    // アイキャッチ
    .eyecatch {
      float: none;
      max-height: none;
      width: 100%;

      img {
        vertical-align: top;
      }

      .pc & {
        &:hover img {
          transition: opacity 400ms ease-in-out;
          opacity: .7;
        }
      }
    }

    // 記事メタ情報
    .entry-meta {
      .event-date-parent {
        display: block;
        background: $pink;
        color: #fff;
        letter-spacing: -.5em;
        white-space: nowrap;

        span {
          display: inline-block;
          font-size: 11px;
          font-weight: bold;
          font-family: $font-family;
          letter-spacing: normal;
          padding: 5px 7px;
        }

        .event-date {
        }

        .event-cat {
          background: #00b5fa;
          margin: 0;
          float: none;

          // Override
          position: static;
          left: inherit;
          top: inherit;
          transform: none;

          &:before {
            @extend %webfont-fa;
            transform: none;
            margin-right: .3em;
          }

          &.term-slug-cafe {
            &:before {
              content: '\f0f4'; // Coffee
            }
          }

          &.term-slug-news {
            &:before {
              content: '\f02d'; // Book
            }
          }

          &.term-slug-event {
            &:before {
              content: '\f073'; // Calender
            }
          }

          &.term-slug-karaoke {
            &:before {
              content: '\f028'; // Volume
            }
          }
        }
      }
    }

    section.entry-content {
      padding: 3% 3% 0 3%;
      overflow: hidden;

      .pc & {
        padding: 3% 3% 0;
      }

      // h1
      .entry-title {
        font-size: 18px;
        margin: .3em 0;
        color: #444;
        line-height: 1.4;
      }
    }

    .enrty-tags {
      padding: .5em 1em;

      .pc & {
        padding: .5em 2em;
      }

      ul {
        margin: 0;
        letter-spacing: -.5em;
      }

      li {
        display: inline-block;
        letter-spacing: normal;
        margin-bottom: .5em;

        &:not(:last-child) {
          margin-right: .5em;
        }
      }

      a {
        display: block;
        padding: .5em;
        margin: 0;
        border: 1px solid $pink;
        color: $pink;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  .period-container {
    margin: 0 1em;

    .home & {
      margin: 2em 1em;
    }

    .pc & {
      box-shadow: 0 0 1px #dddddd;
      background: #fff;
      width: 1166px;
      padding: 35px;
      margin: 0 auto 2em;
      text-align: left;
      letter-spacing: -.5em;
    }

    article.period-list {
      margin: 0 0 2em;
      box-shadow: 0px 2px 1px #ddd;

      .pc & {
        width: 31.333333333%;
        letter-spacing: normal;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 3%;
        box-shadow: none;

        &:not(:nth-of-type(3n)) {
          margin-right: 3%;
        }
      }
    }
  }

  // 開催期間別の見出し
  .headline-period {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    letter-spacing: normal;
    color: #222;
    padding: 12px 10px;
    border-left: 4px solid #ff5dab;
    margin: 0 0 1em;

    .pc & {
    }
  }
  // もっと見る
  .more-read-period {
    display: block;
    background: #00b5fa;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 10px;
    text-align: center;
    text-decoration: none;
    margin: 2em 1em 2em;
    letter-spacing: normal;
    max-width: 300px;

    .pc & {
      margin: 2em auto 2em;
    }
  }

  // カテゴリタイトル
  .archivettl {
    .archive & {
      margin-left: -1em;
      margin-right: -1em;
    }
  }

  .archive-title {
    .archive & {
      padding: 0 0 .2em;
      margin: 0 .7em 1em;
    }
  }

  // ウィジェット
  .widget {
    margin: 0 0 2em;

    .home & {
      margin: 0 0 1em;
    }

    &#text-25 {
      margin: 0;

      > div > p {
        margin: 0;
      }
    }
  }

  .home_widget {
    margin: 0 auto;
  }

  // ヘッダーをFixedにする
  header.header {
    transition: all 300ms ease-in-out;
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;

    &.fixed {
      background: transparent;
      display: block !important;
      position: fixed;
      left: 0;
      right: 0;
      // 初期値
      top: -50px;
      opacity: 0;

      &.action {
        top: 0;
        opacity: 1;
      }

      &.none {
        display: none;
      }

      #inner-header {
        background: rgba(#ff5dab, .9);
        transition: all 400ms ease-in-out;
        padding: 0;
        width: 100%;

        .pc & {
          padding: 0 0 0 140px;
        }

        .nav_btn {
          transition: all 400ms ease-in-out;

          &:before {
            transition: all 400ms ease-in-out;
            font-size: 1.2em;
            height: auto;
          }
        }
      }

      // Close後の#logo
      #logo {
        transition: none;
      }
    }

    #logo {
      $img: $dir + 'logo-vertical.png';
      $size: 730px, 109px;
      position: relative;

      .pc & {
        width: 200px;
      }

      a {
        @include hide-text;
        @include bg-responsive($img, $size, $scale: 70%);
        display: block;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);

        .pc & {
          @include bg-responsive($img, $size, $scale: 100%);
          transform: translate(0, -50%);
          left: 0;
          top: 50%;
        }
      }
    }
  }

  // Tableデザイン変更
  table {
    thead th,
    th.pink {
      background: #666;
      color: #fff;
    }
  }
}

// 記事で使うレイアウト用のclass
.l-center {
  text-align: center;
  margin: auto;
}

.l-font-size0 {
  font-size: 0;
}

.l-di-va-b {
  display: inline-block;
  vertical-align: bottom;
}

@for $i from 1 through 11 {
  $tenCount: 1#{$i - 1};

  .l-width-#{$i}0percent {
    width: #{$i}0%;
  }

  .l-margin-b-#{$i}em {
    margin-bottom: #{$i}em;
  }

  .l-padding-t-#{$i}em {
    padding-top: #{$i}em;
  }

  .f-size#{$tenCount}px {
    font-size: #{$tenCount}px;
  }
}
