%__hr__gradient
  background: linear-gradient(to right, var(--key-color) 0%, var(--sub-color) 100%)
  padding: 0
  border: 0

.hr
  &__gradient
    @extend %__hr__gradient
    height: 3px

    &--small
      @extend %__hr__gradient
      height: 1px
