%__hr__gradient
  background: linear-gradient(to right, var(--key-color) 0%, var(--sub-color) 100%)
  padding: 0
  border: 0

.hr
  &__gradient
    @extend %__hr__gradient
    height: 3px

    .amp &
      margin-top: 2rem
      margin-bottom: .5rem

    &--small
      @extend %__hr__gradient
      height: 1px

.video
  &__responsive
    position: relative
    padding-top: 56.25%

    iframe,
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    &__button
      position: absolute
      z-index: 10
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      box-sizing: content-box
      display: block
      width: 32px
      height: 44px
      border-radius: 50%
      padding: 18px 20px 18px 28px
      cursor: pointer

      &:before
        content: ""
        position: absolute
        z-index: 0
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        display: block
        width: 80px
        height: 80px
        background: #ba1f24
        border-radius: 50%
        animation: pulse-border 1500ms ease-out infinite

      &:after
        content: ""
        position: absolute
        z-index: 1
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        display: block
        width: 80px
        height: 80px
        background: #fa183d
        border-radius: 50%
        transition: all 200ms

      &:hover
        &:after
          background-color: darken(#fa183d, 10%)

      // img 
      //   position: relative 
      //   z-index: 3 
      //   max-width: 100% 
      //   width: auto 
      //   height: auto 

      span
        display: block
        position: relative
        z-index: 3
        width: 0
        height: 0
        border-left: 32px solid #fff
        border-top: 22px solid transparent
        border-bottom: 22px solid transparent

  // TODO オーバーレイを後ほど
  &__overlay
    position: fixed
    z-index: -1 
    top: 0 
    bottom: 0 
    left: 0 
    right: 0 
    background: rgba(0,0,0,0.80) 
    opacity: 0 
    transition: all ease 500ms 

    &.open
      position: fixed
      z-index: 1000
      opacity: 1

      iframe
        position: absolute
        top: 50% 
        left: 50% 
        transform: translateX(-50%) translateY(-50%) 
        box-shadow: 0 0 15px rgba(0,0,0,0.75) 

    &__close 
      position: absolute 
      z-index: 1000 
      top: 15px 
      right: 20px 
      font-size: 36px 
      line-height: 1 
      font-weight: 400 
      color: #fff 
      text-decoration: none 
      cursor: pointer 
      transition: all 200ms 
      &:hover 
        color: #fa183d 

.supplement
  background: #ffffe0
  padding: 3% 4%
  margin: 1.5em 0 2em
  border-radius: 4px
  border: 1px solid #999
  border-color: #e6e6e6
  font-size: 16px
  line-height: 1.6

  &:before
    font-family: fontawesome
    content: '\f0e6'
    display: inline-block
    margin-right: .2em
    font-size: 1.2em

  &.warning
    .event &
      background: var(--key-color-light)

    &:before
      .event &
        content: '\f071'

// CSS only toggle
.accordion
  &__box
    text-align: left
    .entry__author &
      margin-top: 1em

    label
      display: block
      margin: 1px 0
      padding: 11px 12px
      color: #fff
      font-weight: bold
      background: var(--sub-color)
      cursor: pointer
      transition: all 0.5s

      &:before
        content: '\f054'
        font-family: 'FontAwesome'
        padding-right: 8px

      &:hover
        background: var(--sub-color-light)
        color: var(--sub-color)

    input
      display: none

  &--hidden
    height: 0
    padding: 0
    overflow: hidden
    opacity: 0
    transition: 0.8s

  &__input:checked
    + label + .accordion--hidden,
    + label + p + .accordion--hidden
      height: auto
      padding: 15px
      background: #eaeaea
      opacity: 1

    + label + p + .accordion--hidden
      background: #fff

    + label:before
      content: '\f078'

// Simple Google Analytics Ranking
.custom-html-widget .sga-ranking
  // li
  &-list
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px dashed #ddd
    counter-increment: ranking
    position: relative
    overflow: hidden

    &:last-child
      border: 0

    &:before
      content: counter(ranking)
      background: var(--key-color)
      color: #fff
      width: 1.5em
      height: 1.5em
      font-size: .75em
      font-weight: bold
      font-family: 'Lato',sans-serif
      display: block
      text-align: center
      line-height: 1.5em
      position: absolute
      left: 0
      top: 0
      z-index: 1

    p
      margin: 0

      .sidebar &
        display: none

      .homewidget &
        position: absolute
        width: calc(100% - 156px)
        left: 166px
        top: 70px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

    // figure
    .sga-ranking__thumbnail
      flex-basis: 154px
      height: 92px
      overflow: hidden
      position: relative
      margin-right: 10px

    > a
      flex-basis: calc(100% - 164px)
      font-weight: bold
      color: #444

      &:visited
        color: #444

      .sidebar &
        font-size: 14px

      .homewidget &
        font-size: 1.2rem

.nav
  &__page__partial
    padding-top: 1.5rem
    margin-bottom: 1.5rem

    &__counter
      text-align: center
      font-size: 12px
      color: #999

    &__links
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
      position: relative
      padding-top: 60px
      margin-bottom: 5px

      .pc &
        padding-top: 86px

      span,
      a
        display: block
        padding: 10px 3px
        font-size: 16px
        margin: 0 5px 5px
        text-align: center
        min-width: 44px
        height: 44px
        border-radius: 3px

      span
        background: var(--key-color)
        color: #fff

      a
        border: 1px solid var(--key-color)

        .entry-content &
          color: var(--key-color)
          text-decoration: none

        &:hover,
        &:active,
        &:focus,
        &:visited
          .entry-content &
            color: var(--key-color)
            text-decoration: none

        &.next
          position: absolute
          top: 0
          left: 0
          right: 0

          .pc &
            left: 50%
            transform: translate(-50%, 50%)

          &:after
            @extend %webfont-fa
            content: '\f054'
            display: block
            position: absolute
            font-size: 16px
            right: 7px
            top: 50%
            transform: translateY(-50%)

      &__prev--disable,
      &__next--disable
        display: block
        font-size: 16px
        padding: 10px 3px
        margin: 0 5px 5px
        background: #f4f4f4
        color: #999
        text-align: center
        min-width: 44px
        height: 44px

// 記事下部の著者欄
.entry
  &__author
    border: 1px solid #dbdbdb
    border-radius: 5px
    padding: .5rem 1rem 1rem 1rem
    margin-bottom: 2rem

    .entry__author__description
      p
        margin: 0


    &__overview
      display: flex
      align-items: center
      justify-content: flex-start
      margin-bottom: .5rem
      padding-top: .5rem

      .entry__author__names
        .entry__author__names__name
          margin-bottom: -5px

        .entry__author__names__position
          margin: 0

        .entry__author__names__caption
          font-size: .7rem
          color: #999
          line-height: 1.2
          margin: 0

    &__image
      width: 50px
      height: 50px
      margin-right: 10px

      img
        .entry-content &
          border-radius: 50%
          // Override
          margin: 0

    &__names
      flex-basis: calc(100% - 60px)

      p
        align-self: center

      &__name,
      &__position
        font-size: .9rem

      &__name
        font-weight: bold

    &__description
      p
        font-size: 1rem

// 著者が書いた記事一覧
.archive
  &__title
    &__author
      display: flex;
      justify-content: flex-start
      align-items: center
      flex-wrap: wrap

    &__author-icon
      margin-bottom: 10px

      img
        border-radius: 50%
        width: 80px
        border: 2px solid #fff
        box-shadow: 0 0 5px #ddd
        margin: 0

    &__author-text
      margin: 0 0 10px
      padding: 0 0 0 10px
      width: calc(100% - 90px)

      &__title
        .archivettl .archive__title__author &
          font-size: 1rem
          font-weight: bold
          margin-bottom: 5px

      &__count
        .archivettl .archive__title__author &
          font-size: .8rem

.amp
  // Instagram
  amp-instagram
    border: 1px solid #dbdbdb
    border-radius: 6px

  // 吹き出し
  .voice
    display: flex
    justify-content: flex-start
    margin: 1em 0

    figure
      flex-basis: 20%
      margin-right: 3%

      img
        border-radius: 50%

    figcaption
      font-size: .65em
      text-align: center

    .voicecomment
      flex-basis: 77%
      border: 3px solid #eee
      background: #fff
      color: #333;
      padding: 2.5%
      position: relative
      border-radius: 5px

      &:before
        content: ''
        position: absolute
        border-right: 8px solid #eee
        border-bottom: 8px solid transparent
        border-top: 8px solid transparent
        top: 10px
        left: -11px

// for Rinker
.l-rinker
  .m-all
    margin-bottom: 0

  .yyi-rinker-contents
    margin: 1em 0
    border: solid 1px #dbdbdb
    background-color: #fff
    box-shadow: 2px 3px 8px -5px rgba(0,0,0,.25)

    .yyi-rinker-box
      display: flex
      padding: 12px

    .yyi-rinker-image
      padding: 0 12px 0 0
      vertical-align: middle
      width: 125px
      min-width: 125px

    .yyi-rinker-info
      width: calc(100% - 125px)

      .yyi-rinker-title
        font-size: 16px
        font-weight: bold

        .sp &
          font-size: 14px

        a
          color: var(--sub-color)

          &:hover
            color: var(--key-color)

      .yyi-rinker-detail
        padding-left: 0
        font-size: 10px
        color: #999

      .yyi-rinker-links
        display: inline-flex
        flex-wrap: wrap
        margin: 10px auto 0
        padding: 0
        width: 100%

        li
          margin: 0 0 10px 0

          .amp &
            height: auto
            line-height: 1

          a
            display: block
            font-size: 14px
            font-weight: normal
            border-radius: 3px

            .amp &
              padding: 7px 15px

        .rakutenlink
          a
            border: 1px solid #cf4944
            background: #cf4944
            color: #fff
            text-decoration: none

            &:visited
              color: #fff
              text-decoration: none

        .amazonlink
          a
            border: 1px solid #9c7e31
            background: linear-gradient(to bottom, #f7dea1, #f0c24d)
            box-shadow: 0 1px 0 #faecc8 inset
            color: #111
            text-decoration: none

            &:visited
              color: #111
              text-decoration: none

            &:hover
              background: linear-gradient(to bottom,#f5d78e,#eeb933)
              border-color: #a88734 #9c7e31 #846a29
              transition: .3s ease-in-out
