@charset "utf-8"

// 横並びレイアウト
.article__by-category
  box-shadow: 0px -3px 0px var(--key-color)
  border-radius: 3px
  border-right: 1px solid #e6e6e6
  border-left: 1px solid #e6e6e6
  border-bottom: 1px solid #e6e6e6
  margin-bottom: 40px

  &__post
    padding: 0
    border-bottom: 1px dashed rgba(0,0,0,.2)

    &:last-child
      border-bottom: none

  &__anchor
    padding: 15px
    display: flex
    text-decoration: none
    position: relative

  &__thumbnail
    width: 150px
    height: 84px // 16:9
    background: #fefefe
    border: 1px solid #e6e6e6
    background: #f9f9f9
    position: relative
    overflow: hidden
    margin: 0 15px 0 0

    img
      display: block
      width: inherit;
      height: inherit;
      position: absolute
      top: 50%
      transform: translateY(-50%)
      object-fit: contain
      object-position: center center

  &__title
    color: rgb(60, 60, 60)
    margin: 0
    background: #f4f4fa
    font-size: 1.2rem
    padding: 10px 15px 10px 15px
    position: relative

    &:before
      // content: ''
      // width: 5px
      // height: 75%
      // position: absolute
      // transform: translateY(-50%)
      // top: 50%
      // left: 7px
      // background: linear-gradient(to bottom, var(--key-color) 0%, var(--sub-color) 100%)

  &__post-info
    width: calc(100% - 150px - 15px)

    h3
      font-size: 16px
      margin: 0

// Headlines
.cc-headline
  &__h2
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 0 15px
    line-height: 1
    font-size: 21px
    padding: 0 0 15px
    position: relative

    &:before
      content: ''
      position: absolute
      bottom: 0
      right: 0
      left: 0
      height: 3px
      background-color: #e6e6e6

    &:after
      background-color: #e6e6e6

    &__text
      position: relative
      margin: 0
      padding: 0

      &:before
        content: ''
        position: absolute
        bottom: -15px
        left: 0
        height: 3px
        width: 100%
        background-color: var(--key-color)

.home
  &.pc
    .homewidget.popular-posts
      .wpp-post-title
        font-size: 1.4em
        font-weight: bold
        margin-bottom: 10px

      .wpp-excerpt
        color: #666
        font-size: 14px

      .wpp-thumbnail
        margin-right: 20px

  &.sp
    .sidebar
      .widget.widget_recent_entries
        display: none

  // 特定の記事だけ隠す
  // ポム
  .post-3674
    // 上書きしたいのでセレクタ付き
    a .entry-content.remix
      .event-date
        display: none

.entry-content
  // Override Class
  &.remix
    .entry-meta
      .event-date,
      .event-icon
        opacity: 1
        margin-right: .6em
        display: inline-block
        font-size: .85em
        color: var(--key-color)
        font-family: $font-family

        i
          font-size: 1em
          margin-right: .2em
          color: var(--key-color)

      .event-date
        &:before
          font-family: 'fontawesome'
          content: '\f274'
          margin-right: .2em
          color: var(--key-color)

      .date
        opacity: 0
        display: none

        &:before
          content: ''
