.entry-content
  .psgal
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    figure
      width: auto
      flex-basis: 48%
      marign-bottom: 4%

    figcaption
      padding-top: 5px
      font-size: 14px
