.entry-content
  table
    width: 100%
    font-size: .95rem

    caption
      font-size: .7rem
      padding-bottom: 5px
      color: #999
      text-transform: none

    th
      background-color: #eee
      border: 1px solid #cfcfcf
      padding: .8em
      width: 30%

    thead
      th
        background: #666
        color: #fff

.table
  &__scroll
    overflow: auto
    white-space: nowrap
    -webkit-overflow-scrolling: touch

    table
      margin-bottom: 1em

    &__description
      font-size: .7rem
      text-align: center
      color: #888

      .pc &
        display: none
