@charset "utf-8";

// ホーム
.home {
  &.pc {
    .homewidget.popular-posts {
      .wpp-post-title {
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .wpp-excerpt {
        color: #666;
        font-size: 14px;
      }

      .wpp-thumbnail {
        margin-right: 20px;
      }
    }
  }

  &.sp {
    .sidebar {
      .widget.widget_recent_entries {
        display: none;
      }
    }
  }

  // 特定の記事だけ隠す
  // ポム
  .post-3674 {
    // 上書きしたいのでセレクタ付き
    a .entry-content.remix {
      .event-date {
        display: none;
      }
    }
  }
}

.entry-content {
  // Override Class
  &.remix {
    .entry-meta {
      .event-date {
        opacity: 1;
        margin-right: .6em;
        display: inline-block;
        font-size: .85em;
        color: #ff7376;

        &:before {
          font-family: 'fontawesome';
          content: '\f274';
          margin-right: .2em;
          color: #ff7376;
        }
      }

      .date {
        opacity: 0;
        display: none;

        &:before {
          content: '';
        }
      }
    }
  }
}
